.asideContainer{
  position: sticky;
  top: 0;
}
.sidebar__card {
  padding: 2rem;
  border: 1px solid var(--borderColor);
  border-radius: 20px;
  background-color: var(--mainWhite);
  margin-top: 5rem;
}
.card__title{
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.8rem;
  margin-bottom: 2rem;
}
.category__items li{
  margin: 1rem 0;
  font-weight: bold;
}
.categoryLinks:hover{
  color: var(--secondaryColor);
}
.categoryLinks:focus{
  color: var(--secondaryColor);
}
.selectedLink{
  color: var(--secondaryColor)
}