:root{
  --mainColor: #022c22;
  --borderColor: #ddd;
  --mainWhite: #fff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartCenter{
    width: 90vw;
    max-width: 1170px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.emptyCart{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartItemList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  row-gap: 3rem;
  padding: 5rem 0;
  flex: 1;
}
.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  background-color: var(--mainWhite);
  border: 1px solid var(--borderColor);
  border-radius: 10px;
  padding: 1rem 3rem;
}
.cartItemImage {
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartItemImage img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.itemControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10rem;
  max-width: 10rem;
  border: 1px solid var(--borderColor);
  padding: 0.5rem 1.4rem;
  border-radius: 10px;
}
.itemControlBtn {
  cursor: pointer;
  border: none;
  outline: none;
  color: var(--mainColor);
  background-color: var(--mainWhite);
  font-size: 2rem;
  width: 1.8rem;
  height: 1.8rem;
}

.cartSummary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  row-gap: 2rem;
  width: 30%;
  background-color: var(--mainWhite);
  border: 1px solid var(--borderColor);
  border-radius: 10px;
  padding: 1rem 3rem;
  margin-left: 3rem;
}
.remove{
    color: red;
    border: none;
}