.loginForm{
    border: 1px solid var(--borderColor);
    width: 35vw;
    margin: 0 auto;
    margin-top: 5rem;
    border-radius: 10px;
    padding: 3rem 0;
}
form{
    padding-top: 2rem;
     display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginTitle{
    text-align: center;
}