.App {
  text-align: center;
}
html{
  font-size: 62.5%;
}
*,*::after,*::before{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
body{
  background-color: #c4b5fd;
  font-size: 2rem;
}
